@use './inline-edit/inline-edit.component.scss';

button {
  padding: 10px;
  font-size: 18px;
  border: none;
}

body {
  font-family: sans-serif;
}

.landing-logo {
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.show-status {
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  padding: 10px;

  button {
    margin-right: 10px;
    background: white;
  }

  &.open {
    background: rgb(0, 186, 0);
  }
  &.closed {
    background: tomato;
  }
}

.karaoke-user {
  color: white;
  
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  h3 {
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
  }

  input {
    width: 100%;
    background: black;
    color: white;
    border-radius: 10px; 
    border-style: none;
    padding: 10px; 
    font-size: 16px; 
    box-sizing: border-box;
  }
}
.main {
  display: flex; 
  height: 100vh;
  padding: 0;
  background:whitesmoke;
  overflow:hidden;
}
.rt-viewer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #2d3343;
  position: relative;

  .tv-overlay {
    z-index: 1000;
    pointer-events: none;
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .vmix {
    width: 100%; 
    height: 100%;
  }
}
.rt-chat {
  display: flex; 
  height: 100%; 
  width: 350px;
  flex-shrink: 0;
}
.admin-panel {
  padding: 20px;
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: space-between;

  .admin-form {
    width: 100%;
  }
}
.chat > iframe {
  width: 100%; 
  height: 100%; 
}
.stream-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 200;
  background: #2890ff;
  border: 15px solid;
  border-style: outset;
  border-color: #0e82fc;
}

.stream-wrapper {
  position: relative;
  width: 100%; 
  height: 100%;
}
.stream {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
.duo {
  display: flex;
}
.hide {
  display: none;
}
#app {
  display: flex; 
  height: 100%;
  padding: 0;
  background:whitesmoke;
}
iframe {
  border-style: none;
  width: 100%; 
  height: 100%;
}