@use './inline-edit/inline-edit.component.scss';

button {
  padding: 10px;
  font-size: 18px;
  border: none;
}

body {
  font-family: sans-serif;
}

.cam-btns-wrapper {
  h1 {
    font-size: 20px;
    background: black;
    padding: 4px 8px;
    margin: 0;
    margin-top: 4px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arcade Interlaced';
  color: white;
  border-radius: 10px;
  text-shadow: 4px 4px #290d01;
}

.speaker-tex {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  background-size: contain;
  border: solid 1px;
  box-sizing: border-box;
  filter: brightness(0.5);
  background-size: 50%;
  background-image: url('../assets/speaker-tex.jpg');

  &.left {
    border-radius: 0 10px 10px 0;
  }

  &.right {
    border-radius: 10px 0 0 10px;
  }
}

.landing {
  background: #1f00ff;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;

  .bottom-text {
    font-family: "Arcade Interlaced", sans-serif;
    font-size: 20px;
    color: #1cd2ff;
    padding-bottom: 40px;
  }
}

.landing-logo {
  background-image: url('../assets/new_logo.gif');
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 10px;

  img {
    width: 100%;
  }
}

.show-status {
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  padding: 10px;

  button {
    margin-right: 10px;
    background: white;
  }

  &.open {
    background: rgb(0, 186, 0);
  }
  &.closed {
    background: tomato;
  }
}

.karaoke-user {
  color: white;
  
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  h3 {
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
  }

  input {
    width: 100%;
    background: black;
    color: white;
    border-radius: 10px; 
    border-style: none;
    padding: 10px; 
    font-size: 16px; 
    box-sizing: border-box;
  }
}
.main {
  display: flex; 
  height: 100vh;
  padding: 0;
  background:whitesmoke;
  overflow:hidden;
}
.rt-viewer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #161922;
  position: relative;

  .tv-overlay {
    z-index: 1000;
    pointer-events: none;
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .vmix {
    width: 100%; 
    height: 100%;
  }
}
.rt-chat {
  display: flex; 
  height: 100%; 
  width: 350px;
  flex-shrink: 0;
  border-left: solid 4px;
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

.admin-panel {
  background: #3a4764;
  padding: 20px;
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: space-between;

  .admin-form {
    width: 100%;
  }
}
.chat > iframe {
  width: 100%; 
  height: 100%; 
}

.stream-btns {
  display: flex;
  min-width: 600px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 200;
  border-width: 5px;
  border-color: rgba(0,0,0,0.3);
  border-style: outset;
  background-image: url('../assets/flowers.jpg');
  background-repeat: repeat;
  background-size: cover;
  filter: saturate(0.6);
  padding: 10px;

  .coin-slot {
    height: 100px;
    margin-left: auto;
    margin-right: 20px;
    position: relative;

    &::before {
      content: '';
      height: 100px;
      width: 100px;
      background: rgba(0,0,0, 0.5);
      filter: blur(0.3);
      position: absolute;
      top: 10px;
      left: 0;
    }
  }

  .group {
    &.right {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
  }

  .speaker {
    height: 150px;
    transform: rotate(270deg);


  @media only screen and (max-height: 600px) {
    height: 100px;
  }

    &.left {
      margin-left: 20px;
      margin-right: auto;
    }

    &.right {
      margin-left: auto;
      margin-right: 20px;
    }
  }
}

.tv-monitor-outer {
  width: 100%;
  height: 100%;
  border: solid 20px #51545e;
  border-radius: 40px;
  box-sizing: border-box;
  max-width: 1000px;
  min-width: 70%;
  margin: 20px;
}

.tv-monitor-inner {
  width: 100%;
  height: 100%;
  border: 10px black solid;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
x
  &.backstage {
    border: solid 10px #141926;
  }
}

.admin-wrapper {
  display: flex;
  width: 100%;
  height: 100%;

  .streams {
    margin-bottom: 20px;
  
    > *:first-child {
      margin-right: 4px;
    }
  }
}

.streams {
  display: flex;
  width: 100%;
  height: 100%;
}

.tv-wrapper {
  display: flex;
  width: 100%; 
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  background: #60646f;
  box-sizing: border-box;
  border: solid 4px #00000026;
  border-width: 6px 0;
  @media only screen and (max-height: 600px) {
    padding: 0;
  }
}

.stream {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: black;

  iframe {
    border-radius: 10px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
.duo {
  display: flex;
}
.hide {
  display: none;
}
#app {
  display: flex; 
  height: 100%;
  padding: 0;
  background:whitesmoke;
}
iframe {
  border-style: none;
  width: 100%; 
  height: 100%;
}